/* Container styles */
.container {
    background-color: #ff60aa;
    border: 4px solid #680747;
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Box styles */
.box {
    background-color: #c3195d;
    border: 6px solid #141010;
    height: 80px;
    width: 80px;
    font-weight: bold;
    text-align: center;
}
